// Image Grid 
div[data-layout="image-grid"] { 

	[data-name="grid_layout"] {
		
		ul.acf-radio-list.acf-bl {
			display: flex;
			
			box-sizing: border-box;
			max-width: 70rem;

			&::before { display: none }


			li {
				flex:1;
			}
			
			label {
				text-align: center;
				display: block;
				padding:0 0 1rem;

				&.selected {
					border: 4px solid var(--plotMint);
					&:before {
						background-size:100%;
					}
				}
				&:hover {
					background: rgba(255,255,255,0.1);
				}
				&:after {
					display: none;
				}
			}

			label::before {
				content: "";
				display: block;
				height: 30vw;
				border-radius: 0;
				border: none;
				position: static;
				width: 100%;
				@media screen and (min-width: 1024px) {
					height: 12rem;
				}
				background-size: 90%;
				background-position: center;
				background-repeat: no-repeat;
			}

			li:first-child label::before {
				background-image: url('../img/layout-1.svg');
			}

			li:nth-child(2) label::before {
				background-image: url('../img/layout-2.svg');
			}

			li:last-child label::before {
				background-image: url('../img/layout-3.svg');
			}

		}

	}

}