.fourOhFourPage {
    @include vh(75, 'min-height');
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
}

    .fourOhFourPage__contentWrap {
        @include large {
            max-width: 90%;
            margin: 0 auto;
            text-align: center;
        }
        
        a {
			color: var(--black);
			text-decoration: underline !important;
        }
    }

    .fourOhFourPage__asset {
		position: absolute;
		z-index: -1;
		transform: translate3d( 0%, 0%,0);
        animation-duration: 120s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		

		svg {
			object-fit: contain;
			display: block;
			height: 100%;
			width: 100%;
		}

		&.fourOhFourPage__asset--1 {
			right: -15%;
			top: -50%;
			width: 50vw;
			height: 50vw;
			max-width: 670px;
			max-height: 670px; 
			animation-name: bob--1;

			path {
				fill: var(--mint);
				opacity: 1;
			}
		}

		&.fourOhFourPage__asset--2 {
			left: -20%;
			top: 0%;
			width: 50vw;
			height: 50vw;
			max-width: 530px;
			max-height: 530px;
			animation-name: bob--2;

			path {
				fill: var(--yellow);
				opacity: 1;
			}
		}
	}