.page-artists {

}

	.artists__grid {
		@include medium {

			@include plotFlex(3);

		}
	} 

	.artists__backgroundWrap {
		height: 14rem;
	}

		.artists__image {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}