.faqsMain {
	@include medium {
		@include plotFlex(2);
	}
}
	.faqTypes {
		@include medium {
			width: 10rem;
		}
	}

	.faqsContent {
		@include medium {
			width: calc(100% - 10rem);
		}
	}

	.faqTypes__type {
		display: block;
		margin-bottom: 1rem;
	}