#your-profile {
	margin-top: 1rem;
	h2:first-of-type, table:first-of-type, h2:nth-of-type(4), table:nth-of-type(4) {
		display: none;  
	}

	background: var(--plotBlack);
	border: none;
	border-radius: 1rem;
	padding: 0.2rem 2rem 1rem;
	max-width: 640px;

	h2 {
		border-bottom: 2px solid white;
		line-height: 1.6;
		font-size: 1.4rem;
	}

	label {
		color: white;
	}

	.wp-pwd .button {
		margin: 0.5rem 0;
	}

	.pw-weak {
		border: 2px solid var(--plotRed);
		input[type=checkbox], input[type=radio] {
			opacity: 1;
		}
	}

}