html {
	--plotPeach :#ebc2a6;
	--plotOrange :#f28254;
	--plotGreen :#21b573;
	--plotRed :#f55252;
	--plotYellow :#f5d93d;
	--plotLilac :#a88fd9;
	--plotBlue :#3aa8e4;
	--plotPink :#eab8d1;
	--plotMint :#7dedbb;
	--plotPurple :#b569b8;
	--plotSky :#7ae5e5;
	--plotFuchsia :#d95496;
	--plotBlack :#2e2e2b;
	--plotGrey :#b5b5bf;

}


.plotPeach {
	background: var(--plotPeach);
}

.plotOrange {
	background: var(--plotOrange);
}

.plotGreen {
	background: var(--plotGreen);
}

.plotRed {
	background: var(--plotRed);
}

.plotYellow {
	background: var(--plotYellow); 
}

.plotLilac {
	background: var(--plotLilac);
}

.plotBlue {
	background: var(--plotBlue);
}

.plotPink {
	background: var(--plotPink);
}

.plotPurple {
	background: var(--plotPurple);
}

.plotMint {
	background: var(--plotMint);
}


.plotSky {
	background: var(--plotSky);
}

.plotFuchsia {
	background: var(--plotFuchsia);
}



