$mediumup : "screen and (min-width: 640px)";

$plotPeach :#ebc2a6;
$plotOrange :#f28254;
$plotGreen :#21b573;
$plotRed :#f55252;
$plotYellow :#f5d93d;
$plotLilac :#a88fd9;
$plotBlue :#3aa8e4;
$plotPink :#eab8d1;
$plotMint :#7dedbb;
$plotPurple :#b569b8;
$plotSky :#7ae5e5;
$plotFuchsia :#d95496;
$plotBlack :#2e2e2b;
$plotGrey :#b5b5bf;


.plotPeach {
	background: $plotPeach;
}

.plotOrange {
	background: $plotOrange;
}

.plotGreen {
	background: $plotGreen;
}

.plotRed {
	background: $plotRed;
}

.plotYellow {
	background: $plotYellow;
}

.plotLilac {
	background: $plotLilac;
}

.plotBlue {
	background: $plotBlue;
}

.plotPink {
	background: $plotPink;
}

.plotPurple {
	background: $plotPurple;
}

.plotMint {
	background: $plotMint;
}


.plotSky {
	background: $plotSky;
}

.plotFuchsia {
	background: $plotFuchsia;
}



