.fiftyFifty {


}

	.fiftyFifty__row {
		width: 100%;
		margin-bottom: 4rem;

		@include medium {
			display: flex;
		}
		
		&:nth-child(odd) {
			@include medium {
				flex-direction: row-reverse;

				.fiftyFifty__textWrap {
					padding-right: 3rem;
				}
			}
		}

		&:nth-child(even) {
			@include medium {
				.fiftyFifty__textWrap {
					padding-left: 3rem;
				}
			}
		}
	}

	.fiftyFifty__svgWrap {
		
		
		@include medium {
			width: calc(50% + 1rem);
			padding: 0 var(--horizontalSpacing) 0 0;
			.fiftyFifty__right & {
				padding: 0 0 0 var(--horizontalSpacing);
			}
		}

		p {
			display: block;
			height: 100%;
			width: 100%;
		}

		svg {
			display: block;
			object-fit: contain;
			width: 100%;
			height: auto;
			border-radius: 22px;
			box-shadow: var(--box-shadow);
			
		}
		
	}
	.fiftyFifty__textWrap {
		& * {
			text-align: center !important;
		}

		@include medium {
			width: calc(50% - 1rem);
			display: flex;
			justify-content: center;
			flex-direction: column;
			
			& * {
				text-align: left !important;
			}
		}
	}