.plotLayoutForm {



    .plotLayoutForm__textWrap {
        background-color: var(--purple);
        border-radius: .5rem .5rem 0 0;
        padding: 3rem 2rem 3rem;
        color: var(--white);

        @include medium {
            padding: 3rem;
        }
    }
    
    .plotLayoutForm__heading {
        font-size: 2rem;
        color: var(--white);
    }

    .wpforms-field-container {
        display: grid;

        @include medium {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2rem;
        }
    }

    .wpforms-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

    }

    .wpforms-field-label {
        margin-bottom: .5rem;
        text-align: left;
        font-family: var(--bodyFont);
    }

    label.wpforms-error {
        color: var(--red);
        margin-top: .2rem;
    }

    input {
        padding: 1rem;
        border: none;

        &::placeholder {
            color: rgba(0,0,0,.2);
        }
    }

    .wpforms-submit-container {
        text-align: center;
        position: relative;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    button {
        background-color: var(--black);
        color: var(--white);
        border-radius: 8px;
        padding: 1rem 2.5rem;
        display: inline-block;
        text-transform: uppercase;
        font-family: var(--bodyFont);
        border: none;
        text-align: center;
        cursor: pointer;
    }

    .wpforms-confirmation-container {
        p {
            color: var(--white);
            text-align: center;
        }
    }

    .plotLayoutForm__callUs {
        padding: 3rem 1rem;
        background-color: var(--mint);
        border-radius: 0 0 .5rem .5rem;
        margin-bottom: 6rem;

        p {
            margin-bottom: 0;
            text-align: center;
            font-family: var(--headingFont);
            font-size: 2rem;
        }

        a {
            text-decoration: underline;
            color: var(--black);
            font-family: var(--headingFont);
        }
    }

    .wpforms-field-radio ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        
        input {
            visibility: hidden;
            width: 0px;

            &:checked + label:before {
                background-image: url('../img/tick.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        label {
            display: inline-block;
            cursor: pointer;
            margin-right: 1.5rem;
            padding: 1rem 0 1rem 40px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translate3d(0, -50%, 0);
                height: 15px;
                width: 15px;
                border: 3px solid var(--pink);
                border-radius: 100%;
            }
        }
    }
}

