//Import our plot core CSS
@import "../../../plot-core/src/scss/normalize",
		"../../../plot-core/src/scss/modals",
		"../../../plot-core/src/scss/helpers",
		"../../../plot-core/src/scss/subnavigation", 
		"../../../plot-core/src/scss/frontend-admin-features",  
		"../../../plot-core/src/scss/vh-fix";

//Sitewide related pages
@import
		"sitewide/ajax",
		"sitewide/banner",
		"sitewide/breakpoints",
		"sitewide/burger-menu",
		"sitewide/buttons",
		"sitewide/colours",
		"sitewide/cards",
		"sitewide/footer",
		"sitewide/header",
		"sitewide/hosting.scss",
		'sitewide/general',
		"sitewide/modals",
		// "sitewide/mouse-cursor",
		"sitewide/notifications",
		"sitewide/spacing",
		"sitewide/subnavigation",
		"sitewide/typography",
		"sitewide/video-player";


// Plot layouts
@import 
		"plot-layouts/block-links",
		"plot-layouts/carousel",
		"plot-layouts/faqs",
		"plot-layouts/featured-artists",
		"plot-layouts/fluid-content",
		"plot-layouts/fifty-fifty",
		"plot-layouts/full-image-or-video",
		"plot-layouts/form.scss",
		"plot-layouts/latest-articles",
		"plot-layouts/image-grid",
		"plot-layouts/image-tiles",
		"plot-layouts/text-lineup";


//Pages
@import 
		"pages/artists",
		"pages/holding-pages",
		"pages/home",
		"pages/faqs",
		"pages/news",
		"pages/schedule",
		"pages/pricing",
		"pages/gallery.scss",
		"pages/stages",
		"pages/tickets";

// Parts
@import 
		"parts/block-section.scss",
		"parts/testimonial.scss",
		"parts/site-main-header.scss",
		"parts/plan-toggle.scss",
		"parts/menu-toggle.scss",
		"parts/pricing-section.scss",
		"parts/image-grid.scss",
		"parts/main-menu.scss",
		"parts/carousel.scss",
		"parts/home-banner.scss";