.SVGelement {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    .plotSmoothScrollInView & {
        animation-duration: .2s, 5s; 
        animation-timing-function: ease-in-out, ease-in-out;
        animation-fill-mode: forwards, forwards;
        animation-iteration-count: 1, infinite;
    }
}


.SVGelement--delay1 {
    animation-delay: .4s;
}
.SVGelement--delay2 {
    animation-delay: .8s;
}

.SVGelement--spin {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: spin 8s linear infinite;
}

.SVGelement--growIn,.SVGelement--eyeShift {
    animation-name: growIn, eyeShift;
}

.SVGelement--growIn.SVGelement--bob {
    animation-name: growIn, upAndDown;
}

.SVGelement--popupNotification {
    animation-name: popupNotification;
    .plotSmoothScrollInView & {
        animation-iteration-count: infinite;
        animation-duration: 5s
    }
}

.SVGelement--partners {
    
    .plotSmoothScrollInView & {
        animation-name: growIn, partners;
        animation-duration: 3s,10s;
        animation-timing-function: ease-in-out,ease-in-out;
    }
}

.SVGelement--hueSpin {
    animation-name: hueSpin;

    .plotSmoothScrollInView & {
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-timing-function: linear;
    }
}


.SVGelement--imageIcon {
    display: none;
}

body .plotSmoothScrollInView {

    .SVGelement--bob {
        animation: bobby 3s ease-out infinite;
    }

    .SVGelement--video {
        transform: translateX(300%);
        animation: video 12s ease-out infinite;
    }
    .SVGelement--fullImage {
        animation: bigImage 12s ease-out infinite;
    }
    .SVGelement--blockLinks .block {
        animation: blockLinksDrop 12s ease-out infinite;
        $b: 1;
        @while $b < 30 {
            &:nth-of-type(#{$b}) {
                animation-delay: #{.18 - $b * .03s};
            }
            $b : $b + 1;
        }
    }
    .SVGelement--text {
        animation: textReveal 12s ease-out infinite; 
    }
}

body .plotSmoothScrollInView {
    .SVGelement--speed2 {
        animation-duration: 7s;
    }
    .SVGelement--speed3 {
        animation-delay: 10s;
    }
    .SVGelement--speed4 {
        animation-duration: 13s;
    }
    .SVGelement--speed5 {
        animation-delay: 16s;
    }
    .SVGelement--speed6 {
        animation-duration: 20s;
    }
    .SVGelement--speed7 {
        animation-delay: 23s;
    }
}

.SVGelement__1 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--1, loadedAnimation--1;
        animation-duration: .2s, 5s; 
        animation-timing-function: ease-in-out, ease-in-out;
        animation-fill-mode: forwards, forwards;
        animation-iteration-count: 1, infinite;
    }
}

.SVGelement.SVGelement__1,
.SVGelement.SVGelement__3,
.SVGelement.SVGelement__8,
.SVGelement.SVGelement__6,
.SVGelement.SVGelement__10,
.SVGelement.SVGelement__18,
.SVGelement.SVGelement__19,
.SVGelement.SVGelement__20,
.SVGelement.SVGelement__21,
.SVGelement.SVGelement__22,
.SVGelement.SVGelement__26 {

    .plotSmoothScrollInView & {
        $i: 1;
        $speed: .3s;
        $delay: 0s;
        @while $i <= 12 {
        
            &:nth-child(#{$i}) {
                animation-delay: #{$i * $speed + $delay}; 
            }
    
            $i: $i + 1;
            
        }
    }
}

.SVGelement__2--top {
    opacity: 0;

    .plotSmoothScrollInView & {        
        animation-name: entryAnimation--1, loadedAnimation--top;
        animation-duration: .3s, 15s; 
        animation-timing-function: ease-in-out, ease-in-out;
        animation-fill-mode: forwards, forwards;
        animation-iteration-count: 1, infinite;
        animation-delay: 0s, .5s;
    }
}

.SVGelement__2--middle {
    opacity: 0;

    .plotSmoothScrollInView & {        
        animation-name: entryAnimation--1;
        animation-duration: .2s; 
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-delay: .2s;
    }
}

.SVGelement__2--bottom {
    opacity: 0;

    .plotSmoothScrollInView & {        
        animation-name: entryAnimation--1, loadedAnimation--bottom;
        animation-duration: .2s, 15s; 
        animation-timing-function: ease-in-out, ease-in-out;
        animation-fill-mode: forwards, forwards;
        animation-iteration-count: 1, infinite;
        animation-delay: .4s, .5s;
    }
}


.SVGelement__3 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: loadedAnimation--4;
        animation-duration: 3s; 
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite; 
    }
}

.SVGelement__4 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--1;
        animation-duration: 1s; 
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

.SVGelement.SVGelement__5 {
    transform-origin: top;
    transform: scale3d(1, 0, 1);

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--3;
        animation-duration: 1s; 
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1;
        animation-delay: calc(var(--i) * .5s); 
    }

}

.SVGelement.SVGelement__6 {
    transform-origin: top;
    transform: scale3d(1, 0, 1);

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--3;
        animation-duration: 1s; 
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-delay: 1s;
    }
}

.SVGelement.SVGelement__7 {
    transform-origin: top;
    transform: scale3d(1, 0, 1);

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--3;
        animation-duration: 1s; 
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-delay: .4s;
        animation-iteration-count: 1;
    }
}


.SVGelement.SVGelement__8 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--4;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1;
    }
}

.SVGelement__9 {

    .plotSmoothScrollInView & {
        animation-name: loadedAnimation--4;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: infinite;
    
        $i: 1;
        $speed: .3s;
        $delay: 3.2s;
        @while $i <= 12 {
        
            &:nth-child(#{$i}) {
                animation-delay: #{$i * $speed + $delay}; 
            }
    
            $i: $i + 1;
            
        }
    }
}

.SVGelement__10 {
    opacity: 0;
    .plotSmoothScrollInView & {
        animation-name: entryAnimation--4;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1;
    }
}

.SVGelement__11 {

    .plotSmoothScrollInView & {
        animation-name: loadedAnimation--5;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: infinite;
    }
}


.SVGelement__12 {

    .plotSmoothScrollInView & {
        animation-name: loadedAnimation--6;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: infinite;
    }
}

.SVGelement.SVGelement__13,
.SVGelement.SVGelement__17 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--2, loadedAnimation--4;
        animation-duration: 1s, 5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1, infinite;

        $i: 1;
        $speed: .3s;
        $delay: 0s;
        @while $i <= 12 {
        
            &:nth-child(#{$i}) {
                animation-delay: #{$i * $speed + $delay}, #{$i * $speed + $delay + 2.5s}; 
            }
    
            $i: $i + 1; 
            
        }
    }
}

.SVGelement.SVGelement__14 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--2, loadedAnimation--7;
        animation-duration: 1s, 8s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1, infinite;

        $i: 1;
        $speed: .3s;
        $delay: 0s;
        @while $i <= 12 {
        
            &:nth-last-child(#{$i}) {
                animation-delay: #{$i * $speed + $delay}, #{$i * 4s}; 
            }
    
            $i: $i + 1; 
            
        }
    }
}

.SVGelement.SVGelement__15 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--2;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1;

        $i: 1;
        $speed: .3s;
        $delay: 0s;
        @while $i <= 12 {
        
            &:nth-last-child(#{$i}) {
                animation-delay: #{$i * $speed + $delay}, #{$i * 4s}; 
            }
    
            $i: $i + 1; 
            
        }
    }
}

.SVGelement.SVGelement__16,
.SVGelement.SVGelement__27 {
    opacity: 1;

    .plotSmoothScrollInView & {
        animation-name: loadedAnimation--8;
        animation-duration: 7s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }
}

.SVGelement.SVGelement__18,
.SVGelement.SVGelement__20,
.SVGelement.SVGelement__22,
.SVGelement.SVGelement__26 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--2;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1;
    }
}

.SVGelement.SVGelement__19,
.SVGelement.SVGelement__21 {
    

    .plotSmoothScrollInView & {
        animation-name: loadedAnimation--2;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-fill-mode: forwards; 
        animation-iteration-count: infinite;
    }
}

.SVGelement.SVGelement__23{

    .plotSmoothScrollInView & {
        animation-name: loadedAnimation--9;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: infinite;
    
        $i: 1;
        $speed: .3s;
        $delay: 3.2s;
        @while $i <= 12 {
        
            &:nth-child(#{$i}) {
                animation-delay: #{$i * $speed + $delay}; 
            }
    
            $i: $i + 1;
            
        }
    }
}

.SVGelement.SVGelement__25 {

    .plotSmoothScrollInView & {
        transform: scale3d(0,0,1);
        animation: growIn 0.2s ease-out 1s;
        animation-fill-mode: forwards; 
    
        $i: 1;
        $speed: .1s;
        $delay: 0.8s;
        @while $i <= 12 {
        
            &:nth-child(#{$i}) {
                animation-delay: #{$i * $speed + $delay}; 
            }
    
            $i: $i + 1;
            
        }
    }
}

.SVGelement.SVGelement__24 {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--3;
        animation-duration: 1s; 
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-delay: .2s;
        animation-iteration-count: 1;
    }
}

.SVGelement.SVGelement__28 {
    opacity: 0;

    .plotSmoothScrollInView & {
        animation-name: entryAnimation--2, loadedAnimation--1;
        animation-duration: 1s, 4s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
        animation-iteration-count: 1, infinite;

        $i: 1;
        $speed: .3s;
        $delay: 0s;
        @while $i <= 12 {
        
            &:nth-child(#{$i}) {
                animation-delay: #{$i * $speed + $delay}, #{$i * $speed + $delay + 2.5s}; 
            }
    
            $i: $i + 1; 
            
        }
    }
}

@keyframes video {
    0% {
        transform: translateX(300%);
    }

    42% {
        transform: translateX(300%);
    }

    50% {
        transform: translateX(0);
    }

    58% {
        transform: translateX(0);
    }

    67% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(300%);
    }

}

@keyframes textReveal {
    0% {
        transform: scale3d(0,0,1); 
    }
    30% {
         transform: scale3d(0,0,1);
    }
    33% {
         transform: scale3d(1,1,1);
    }

    42% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-300%);
    }

    58% {
        transform: translateX(-300%);
    }

    67% {
        transform: translateX(0);
    }

    72% {
        transform: scale3d(1,1,1);
    }

    77% {
        transform: scale3d(0,0,1);
    }

    100% {
        transform: scale3d(0,0,1);
    }
}

@keyframes blockLinksDrop {
    0% {
        transform: translateY(0);
    }
    8% {
        transform: translateY(0);
    }
    17% {
        transform: translateY(41%);
    }
    92% {
        transform: translateY(41%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bigImage {

    0% {
        transform: scale3d(0,0,1);
    }
    11% {
        transform: scale3d(0,0,1);
    }
    17% {
        transform: scale3d(1,1,1);
    }
    25% {
        transform: scale3d(1,1,1);
    }
    33% {
        transform: scale3d(0.5,1,1) translateX(-50%);
    }
    42% {
        transform: scale3d(0.5,1,1) translateX(-50%);
    }

    50% {
        transform: scale3d(0.5,1,1) translateX(-350%);
    }

    58% {
        transform: scale3d(0.5,1,1) translateX(-350%);
    }

    67% {
        transform: scale3d(0.5,1,1) translateX(-50%);
    }

    75% {
        transform: scale3d(0.5,1,1) translateX(-50%);
    }

    83% {
        transform: scale3d(1,1,1);
    }

    91% {
        transform: scale3d(1,1,1);
    }

    93% {
        transform: scale3d(0,0,1);
    }

    100% {
        transform: scale3d(0,0,1);
    }

}


@keyframes hueSpin {
    0% { 
        fill: #7DEDBB;
    }

    20% {
       fill: #F55252;
    }

    40% { 
        fill: #F5D93D;
    }
    60% { 
        fill: #F28254;
    }
    80% { 
        fill: #3AA8E4;
    }
    100% { 
        fill: #7DEDBB;
    }
}



@keyframes popupNotification {
    0% { 
        transform: scale3d(0, 0, 1);
        opacity: 0;
    }

    8% {
        transform: scale3d(1.1, 1.1, 1);
        opacity: 1;
    }

    11% {
         transform: scale3d(1, 1, 1);
    }

    70% {
         transform: scale3d(1, 1, 1);
    }

    100% { 
        transform: translate3d(0,400px,0);
    }
}

@keyframes partners {
    0% { 
        transform: translate3d(0,0,0);
    }

    25% { 
        transform: translate3d(-147px,0,0);
    }
    50% {
        transform: translate3d(0px,0,0);
    } 
    75% {
        transform: translate3d(147px,0,0);
    }

    100% {
        transform: translate3d(0,0,0);
    }
    
}

@keyframes entryAnimation--1 {
    0% { 
        transform: scale3d(.2, .2, .2) rotate3d(0, 0, 1, 90deg);
        opacity: 0;
    }

    100% { 
        opacity: 1; 
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes entryAnimation--2 {
    0% { 
        transform: scale3d(.2, .2, .2);
        opacity: 0;
    }
    100% { 
        opacity: 1; 
        transform: scale3d(1, 1, 1);
    }
}

@keyframes entryAnimation--3 {
    0% { 
        transform: scale3d(1, 0, 1);
        
    }
    100% { 
        transform: scale3d(1, 1, 1);
    }
}
@keyframes entryAnimation--4 {
    0% { 
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }

    100% { 
        opacity: 1; 
        transform: translate3d(0, 0, 0);
    }
}

// 
// Custom Loaded
// 

@keyframes growIn {
    0% { 
        transform: scale3d(0,0,1);
    }

    100% { 
        transform: scale3d(1,1,1);
    }
}

@keyframes loadedAnimation--1 {
    0% { 
        transform: translate3d(0,0,0);
    }

    50% {
        transform: translate3d(0,2px,0);
    }

    75% {
        transform: translate3d(0,-2px,0);
    }

    100% { 
        transform: translate3d(0,0,0);
    }
}

@keyframes loadedAnimation--2 {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes loadedAnimation--3 {
    0% { 
        transform: scale3d(.2, .2, .2);
        opacity: 0;
    }

    25% {
        opacity: 1; 
        transform: scale3d(1, 1, 1);
    }

    75% {
        opacity: 1; 
        transform: scale3d(1, 1, 1);
    }

    100% { 
        transform: scale3d(.2, .2, .2);
        opacity: 0;
    }
}

@keyframes loadedAnimation--4 {
    0% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }

    25% {
        
        transform: translate3d(0,5px,0);
    }

    75% {
        
        transform: translate3d(0,0,0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes loadedAnimation--7 {
    0% {
        transform: scale3d(1,1,1);
    }
    50% {
        transform: scale3d(.95,.95,1);
    }
    100% {
        transform: scale3d(1,1,1);
    }
}

@keyframes loadedAnimation--8 {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
        transform: rotate3d(0, 0, 1, 20deg);
    }
    75% {
        transform: rotate3d(0, 0, 1, -20deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes loadedAnimation--9 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .75;
    }

    75% {
        opacity: 1;
        
    }
    100% {
        opacity: 1;
    }
}


// 
// Custom Animatiom
// 

@keyframes loadedAnimation--top {
    0% { 
        transform: translate3d( 0, 0, 0);
    }

    50% {
        transform: translate3d(-33%, 50%, 0);
    }

    75% {
        transform: translate3d(-33%, 50%, 0);    
    }

    100% { 
        transform: translate3d( 0,0,0);
    }
}

@keyframes loadedAnimation--bottom {
    0% { 
        transform: translate3d( 0, 0, 0);
    }

    50% {
        transform: translate3d(33%, -50%, 0);
    }

    75% {
        transform: translate3d(33%, -50%, 0);
    }

    100% { 
        transform: translate3d( 0,0,0);
    }
}

@keyframes loadedAnimation--5 {
    0% {
        transform: translate3d(0,0,0);
        fill: #D95496;
    }

    25% {
        transform: translate3d(-90%,0,0);
        fill: #D95496;
    }
    30% {
        fill: #7AE5E5;
    }
    50% {
        transform: translate3d(-90%,0,0);
        fill: #7AE5E5;
    }

    75% {
        transform: translate3d(0,0,0);
        fill: #7AE5E5;
    }
    80% {
        fill: #D95496;
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes loadedAnimation--6 {
    0% {
        fill: #EAB8D1;
    }

    25% {
        fill: #EAB8D1;
    }
    30% {
        fill: #A88FD9;
    }
    50% {
        fill: #A88FD9;
    }

    75% {
        fill: #A88FD9;
    }
    80% {
        fill: #EAB8D1;
    }
    100% {
    }
}

@keyframes bobby {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    25% {
        transform: translate3d(0,2px,0);
    }

    50% {
        transform: translate3d(0,0,0);
    }

    75% {
        transform: translate3d(0,-2px,0);
    }

    100% {
        transform: translate3d(0,-0,0);
    }
}


@keyframes upAndDown {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    33% {
        transform: translate3d(0,4px,0);
    }

    66% {
        transform: translate3d(0,-6px,0);
    }
}

@keyframes eyeShift {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    50% {
        transform: rotate3d(0,0,1,60deg);
    }

    100% {
        transform: rotate3d(0,0,0,60deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate3d(0,0,0,0deg);
    }

    100% {
        transform: rotate3d(0,0,1,360deg);
    }
}


@keyframes bob--2 {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    20% {transform: translate3d(-20%,5%,0)rotate3d(0,0,1,25deg) }

    40% {transform: translate3d(5%,20%,0) rotate3d(0,0,1,95deg) }

    60% {transform: translate3d(-15%,5%,0) rotate3d(0,0,1,180deg) }

    80% {transform: translate3d(-15%,10%,0) rotate3d(0,0,1,90deg) }

    100% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }
}

@keyframes bob--1 {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    20% {transform: translate3d(-30%, -30%,0)rotate3d(0,0,1,-25deg) }

    40% {transform: translate3d(-25%, -25%,0) rotate3d(0,0,1,-20deg) }

    60% {transform: translate3d(-45%, -15%,0) rotate3d(0,0,1,-95deg) }

    80% {transform: translate3d(-15%, 0%,0) rotate3d(0,0,1,-45deg) }

    100% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }
}
