#burgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
	.burgerOpen & {
    	display: flex;
    }
    
    .burgerMenu__ctaLink {
        font-size: 22px;
        font-weight: 900; 
        letter-spacing: .05rem;
        display: inline-block;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

    .burgerMenu__innerWrap {
        position: relative;
        z-index: 1;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        
        .burgerOpen & {
            animation: reveal .2s ease-in-out 1s forwards;
        }
    }

        .burgerMenu__list {
            list-style: none;
            padding-left: 0;

            a {
                color: var(--black);
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 900; 
                letter-spacing: .05rem;
                display: inline-block;
                padding: 1rem;
            }
        }

// Loading Animation
.burgerMenu__part {
    width: calc(50% + 1px);
    height: calc(50% + 1px);
    background-color: var(--pink);
    position: absolute;
    
    &.burgerMenu__part--1 {
        top: 0%;
        left: 0%;
        transform: translate3d(-100%,-100%,0) rotate(20deg) skew(-30deg, -30deg);
    }

    &.burgerMenu__part--2 {
        top: 0%;
        right: 0%;
        transform: translate3d(100%,-100%,0) rotate(20deg) skew(30deg, 30deg);
    }

    &.burgerMenu__part--3 {
        bottom: 0%;
        left: 0%;
        transform: translate3d(-100%,100%,0) rotate(20deg) skew(30deg, 30deg);
    }

    &.burgerMenu__part--4 {
        bottom: 0%;
        right: 0%;
        transform: translate3d(100%,100%,0) rotate(20deg) skew(30deg, 30deg);
    }

    span.burgerMenu__asset {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;

        &.burgerMenu__asset--p svg {
            display: block;
            width: 200%;
            height: 420px;
            fill: var(--purple);
            position: absolute;
            bottom: 0%;
            right: -60px;
            
        }

        &.burgerMenu__asset--j svg {
            display: block;
            width: 170%;
            height: 420px;
            fill: var(--yellow);
            position: absolute;
            bottom: 0%;
            left: -12px;
        }

        &.burgerMenu__asset--o svg {
            display: block;
            width: 100%;
            height: 390px;
            fill: var(--dark-purple);
            position: absolute;
            top: 0%;
            right: 0px;
            transform: rotate(180deg);
        }


        &.burgerMenu__asset--t svg {
            display: block;
            width: 180%;
            height: 390px;
            fill: var(--orange);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
}

.burgerOpen .burgerMenu__part {
    z-index: 0;
    
    &.burgerMenu__part--1 { animation: topLeft 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards }
    
    &.burgerMenu__part--2 { animation: topRight 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards }

    &.burgerMenu__part--3 { animation: bottomLeft 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards }

    &.burgerMenu__part--4 { animation: bottomRight 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards }
    
}

@keyframes topLeft {
    0% { transform: translate3d(-100%,-100%,0) rotate(20deg) skew(-30deg, -30deg) }

    100% { transform: translate3d(0,0,0) rotate(0deg) skew(0deg, 0deg) }
}

@keyframes topRight {
    0% { transform: translate3d(100%,-100%,0) rotate(20deg) skew(30deg, 30deg) }

    100% { transform: translate3d(0,0,0) rotate(0deg) skew(0deg, 0deg) }
}

@keyframes bottomLeft {
    0% { transform: translate3d(-100%,100%,0) rotate(20deg) skew(30deg, 30deg) }

    100% { transform: translate3d(0,0,0) rotate(0deg) skew(0deg, 0deg) }
}

@keyframes bottomRight {
    0% { transform: translate3d(100%,100%,0) rotate(20deg) skew(30deg, 30deg) }

    100% { transform: translate3d(0,0,0) rotate(0deg) skew(0deg, 0deg) }
}

@keyframes reveal {
    0% { opacity: 0 }

    100% { opacity: 1 }
}
// On click
// 4 shapes transition into position
// then inner textWrap apears + logo and close button