@mixin revealAnimation($speed: .2s, $delay : 1s) {
    animation: reveal .3s ease-in-out forwards;

	$i: 1;
	@while $i <= 12 {
	
		&:nth-child(#{$i}) {
			animation-delay: #{$i * $speed + $delay}; 
		}

		$i: $i + 1;
		
	}
}

#burgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
	.burgerOpen & {
    	display: flex;
    }
    
    .burgerMenu__ctaLink {
        font-size: 22px;
        font-weight: 900; 
        letter-spacing: .05rem;
        display: inline-block;
        padding-left: 3rem;
        padding-right: 3rem;
        opacity: 0;
        transform: translate3d(0,-100px,0);

        @include revealAnimation(.2s, 1.5s); 
    }
}

    .burgerMenu__innerWrap {
        position: relative;
        z-index: 1;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

        .burgerMenu__list {
            list-style: none;
            padding-left: 0;

            li {
                opacity: 0;  
                transform: translate3d(0,-100px,0);

                .burgerOpen & {
                    @include revealAnimation(); 
                }
            }

            a {
                color: var(--black);
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 900; 
                letter-spacing: .05rem;
                display: inline-block;
                padding: 1rem;
            }
        }

// Loading Animation
.burgerMenu__part {
    width: calc(50% + 1px);
    height: calc(50% + 1px);
    background-color: var(--pink);
    position: absolute;
    
    &.burgerMenu__part--1 {
        top: 0%;
        left: 0%;
        transform: translate3d(-100%,-100%,0) rotate(20deg) skew(-30deg, -30deg);
    }

    &.burgerMenu__part--2 {
        top: 0%;
        right: 0%;
        transform: translate3d(100%,-100%,0) rotate(20deg) skew(30deg, 30deg);
    }

    &.burgerMenu__part--3 {
        bottom: 0%;
        left: 0%;
        transform: translate3d(-100%,100%,0) rotate(20deg) skew(30deg, 30deg);
    }

    &.burgerMenu__part--4 {
        bottom: 0%;
        right: 0%;
        transform: translate3d(100%,100%,0) rotate(20deg) skew(30deg, 30deg);
    }

    $i: 1;
    $speed: .3s;
    $delay: 0s;
    @while $i <= 5 {
    
        &:nth-child(#{$i}) span.burgerMenu__asset svg {
            animation-delay: #{$i * $speed + $delay}, #{$i * $speed + 1s}; 
        }

        $i: $i + 1;
        
    }

    span.burgerMenu__asset {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;


        svg {
            animation-duration: 1.5s, 10s;
            animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000), linear;
            animation-delay: .2s, 5s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1, infinite; 
        }
        

        &.burgerMenu__asset--p svg {
            display: block;
            width: 200%;
            height: 420px;
            fill: var(--purple);
            position: absolute;
            bottom: 0%;
            right: -60px;
            transform: translate3d(-100%,-100%,0);
            animation-name: topLeft, bob--p;
        }

        &.burgerMenu__asset--l svg {
            display: block;
            width: 170%;
            height: 420px;
            fill: var(--yellow);
            position: absolute;
            bottom: 0%;
            left: -12px;
            transform: translate3d(100%,-100%,0);
            animation-name: topRight, bob--l;
        }

        &.burgerMenu__asset--o svg {
            display: block;
            width: 150%;  
            height: 390px;
            fill: var(--dark-purple);
            position: absolute;
            top: 0%; 
            right: 0px;
            transform: translate3d(-100%,100%,0);
            animation-name: bottomLeft, bob--o;
        }


        &.burgerMenu__asset--t svg {
            display: block;
            width: 180%;
            height: 390px;
            fill: var(--orange);
            position: absolute;
            top: 0;
            left: 0;
            transform: translate3d(100%,100%,0);
            animation-name: bottomRight, bob--t;
        }
    }
    
}

.burgerOpen .burgerMenu__part {
    z-index: 0;
    
    &.burgerMenu__part--1 { animation: topLeft 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards }
    
    &.burgerMenu__part--2 { animation: topRight 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards }

    &.burgerMenu__part--3 { animation: bottomLeft 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards }

    &.burgerMenu__part--4 { animation: bottomRight 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards }
    
}

@keyframes topLeft {
    0% { transform: translate3d(-100%,-100%,0) rotate(20deg) skew(-30deg, -30deg) }

    100% { transform: translate3d(0,0,0) rotate(0deg) skew(0deg, 0deg) }
}

@keyframes topRight {
    0% { transform: translate3d(100%,-100%,0) rotate(20deg) skew(30deg, 30deg) }

    100% { transform: translate3d(0,0,0) rotate(0deg) skew(0deg, 0deg) }
}

@keyframes bottomLeft {
    0% { transform: translate3d(-100%,100%,0) rotate(20deg) skew(30deg, 30deg) }

    100% { transform: translate3d(0,0,0) rotate(0deg) skew(0deg, 0deg) }
}

@keyframes bottomRight {
    0% { transform: translate3d(100%,100%,0) rotate(20deg) skew(30deg, 30deg) }

    100% { transform: translate3d(0,0,0) rotate(0deg) skew(0deg, 0deg) }
}

@keyframes reveal {
    0% { 
        opacity: 0;
        transform: translate3d(0,20px,0);
    }

    100% { 
        opacity: 1; 
        transform: translate3d(0,0,0);
    }
}

@keyframes bob--p {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    20% {transform: translate3d(-30px,-30px,0)rotate3d(0,0,1,25deg) }

    40% {transform: translate3d(-15px,-30px,0) rotate3d(0,0,1,50deg) }

    60% {transform: translate3d(-45px,-15px,0) rotate3d(0,0,1,25deg) }

    80% {transform: translate3d(-15,0px,0) rotate3d(0,0,1,0deg) }

    100% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }
}

@keyframes bob--l {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    20% {transform: translate3d(30px,-30px,0)rotate3d(0,0,1,25deg) }

    40% {transform: translate3d(15px,-45px,0) rotate3d(0,0,1,20deg) }

    60% {transform: translate3d(45px,-15px,0) rotate3d(0,0,1,95deg) }

    80% {transform: translate3d(15px,0px,0) rotate3d(0,0,1,0deg) }

    100% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }
}


@keyframes bob--o {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    20% {transform: translate3d(-30px,45px,0)rotate3d(0,0,1,25deg) }

    40% {transform: translate3d(-45px,90px,0) rotate3d(0,0,1,95deg) }

    60% {transform: translate3d(-15px,45px,0) rotate3d(0,0,1,20deg) }

    80% {transform: translate3d(-15px,10px,0) rotate3d(0,0,1,0deg) }

    100% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }
}

@keyframes bob--t {
    0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }

    20% {transform: translate3d(30px,-25px,0)rotate3d(0,0,1,25deg) }

    40% {transform: translate3d(45px,-10px,0) rotate3d(0,0,1,95deg) }

    60% {transform: translate3d(15px,0px,0) rotate3d(0,0,1,20deg) }

    80% {transform: translate3d(15px,10px,0) rotate3d(0,0,1,0deg) }

    100% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }
}