.plotButton {
	background: var(--primaryColor);
	color: white;
	padding: 0.6rem 1rem;
	display: inline-block;
	text-align: center;
	&.selected {
		background: grey;
	}
}


.button {
	background-color: var(--black);
	color: var(--white);
	border-radius: 8px;
	padding: 1rem 1.5rem;
	display: inline-block;
	
	@include small-only {
		
		width: 100%;
		min-width: 240px;
	}
}