.cards {
    background-color: var(--purple);
    text-align: center;
    color: var(--white);
}
    .cards__sectionHeading {
        color: var(--white);

        span {
            color: var(--yellow); 
        }
    }

    .cards__sectionIntro {
        color: var(--white);
        max-width: 750px;
        margin: 0 auto 4rem;
    }

    .cards__grid {
        @include plotFlex(1, 1rem, 3rem, 'center'); 

        @include medium { @include plotFlex(2, 2rem, 2rem, 'center') }

        @include large { @include plotFlex(3, 2rem, 2rem, 'center') }
    }

        .cards__item {
            max-width: 400px;
        }

            .cards__svgWrap {
                margin-bottom: calc(var(--vs) / 2);
            }

            .cards__textWrap {
                
                p { color: var(--white) }
            }

                .cards__title {
                    color: var(--white);
                }
