body {
	background: white;
	--primaryColor: #5050cc; 
	--secondaryColor: green;

	--black: #2E2E2B;
	--white: #FFFFFF;
	--yellow:#F5D93D;
	--mint:  #7DEDBB;
	--purple:#A88FD9;
	--green: #21B573;
	--pink:  #EAB8D1;
	--strong-pink: #D95496;
	--orange: #F28254;
}

a {
	color: var(--primaryColor);
}