.content {
	iframe {
	    width: 100%;
	}
}


// Allways hide the Honey Pot field
.wpforms-field-hp { display: none !important }

.JS--lazyLoad {
	opacity: 0;
	transform: translate3d(0,30px,0);
	transition: all .2s ease-in; 
	box-shadow: 18px 18px 23px -15px rgba(0,0,0,0);

	&.loaded {
		opacity: 1;
		transform: translate3d(0,0,0);

		&.imageGrid__image {
			box-shadow: 18px 18px 23px -15px rgba(0,0,0,0.75);
		}
	}
}

[data-plot-smooth-scroll-element] {
	opacity: 0;
	transform: translate3d(0,20px,0);
	transition: opacity .7s ease-in-out, transform .7s ease-in-out;

	&.plotSmoothScrollSeenOnce {
		opacity: 1;
		transform: translate3d(0,0,0);
	}

	$i: 1;
	$speed: .1s;
	$delay: 0s;
	@while $i <= 12 {
	
		&:nth-child(#{$i}) {
			transition-delay: #{$i * $speed + $delay}; 
		}

		$i: $i + 1;
		
	}
}

[data-plot-smooth-scroll-element] .growIn {
	opacity: 0;
	transform: translate3d(0,30px,0);
	transition: opacity .7s ease-in-out, transform .7s ease-in-out;

	$i: 1;
	$speed: .3s;
	$delay: 0s;
	@while $i <= 12 {
	
		&:nth-child(#{$i}) {
			transition-delay: #{$i * $speed + $delay}; 
		}

		$i: $i + 1;
		
	}
}

[data-plot-smooth-scroll-element].plotSmoothScrollSeenOnce .growIn {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.emoji {
	font-size: 3rem;
}

.cards_button {
	padding-bottom: 4rem;
}

[data-plot-smooth-scroll] {
	overflow: hidden;
}