.hosting {
    background-color: var(--orange);
    padding: 6rem 0;
    text-align: center;
}

    .hosting__subText {
        max-width: 650px;
        margin: 0 auto 3rem;
    }

    .hosting__textWrap {
        margin: .5rem 0 1.5rem;
        
        @include medium {
            display: flex;
            justify-content: center;
        }

        span {
            font-size: 2rem;
            color: var(--black);
            font-weight: 300;
            font-family: var(--bodyFont);

            @include medium {
                padding-right: .5rem;
            }
        }

        h2 {
            font-size: 2rem;
            font-family: var(--headingFont);
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .hosting__list {
        .hosting__icon {
            animation-name: bob;
            animation-duration: 20s; 
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite; 
        }
            
        $i: 1;
        $speed: .3s;
        $delay: 0s;
        @while $i <= 12 {
        
            &:nth-last-child(#{$i}) .hosting__icon {
                animation-delay: #{$i * $speed + $delay}; 
            }
     
            $i: $i + 1;
            
        }
    }

    .hosting__description {
        max-width: 650px;
        margin: 1rem auto; 
        
    }

    @keyframes bob {
        0% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }
    
        20% {transform: translate3d(0%,25%,0)rotate3d(0,0,1,10deg) }
    
        40% {transform: translate3d(0%,0%,0) rotate3d(0,0,1,5deg) }
    
        60% {transform: translate3d(0,25%,0) rotate3d(0,0,1,-10deg) }
    
        80% {transform: translate3d(0%,0%,0) rotate3d(0,0,1,9deg) }
    
        100% { transform: translate3d(0,0,0) rotate3d(0,0,1,0deg) }
    }