.maxWidth {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 1rem;
    width: 100%;
}

html {
	--vs : 2rem;
	--hs : 1rem;
}

.sectionWithVerticalSpacing {
	margin-bottom: var(--vs);
}

.plotLayout {
	margin-bottom: var(--vs);
}

.sectionPadding {
	padding-top: 4rem;
	padding-bottom: 4rem;
}