:root {
	--bodyFont: aktiv-grotesk-extended, sans-serif;
	--headingFont: fieldwork, sans-serif;
}

html {
	font-family: var(--bodyFont);
	font-family: var(--headingFont);
	font-weight: 700;
	font-style: normal;

	font-family: 'Helvetica';
	font-size: 16px;
	@include medium {
		font-size: 17px;
	}
	@include large {
		font-size: 18px;
	}
	@include xlarge {
		font-size: 19px;
	}
	@include xxlarge {
		font-size: 20px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1.3rem;
	font-family: var(--headingFont);
	font-weight: bold;
}

p {
	line-height: 1.4;
	margin-bottom: 1.3rem;
	font-family: var(--bodyFont);
}

a {
	text-decoration: none;
	font-family: var(--bodyFont);
}
