.holdingPage {
	@include vh(100); 
}

	.holdingPage__backgroundWrap, .holdingPage__backgroundImageWrap {
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background:black;
	}

		.holdingPage__backgroundImageWrap {

		}

		.holdingPage__backgroundImage, .banner__backgroundVideo {
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
		}

	.holdingPage__contentWrap {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		position: relative;
		z-index: 2;
	}

	.holdingPage__viewFullSite {
		margin-top: calc(var(--vs));
	}

		.holdingPage__logo {
			img {
				max-width: 12rem;
			}
			display: block;
			margin-bottom: calc(0.5 * var(--vs));
		}

		.holdingPage__form {
			margin-bottom: calc(0.5 * var(--vs));
		}

		.holdingPage__contentBox {
			max-width: 40rem;
			padding: calc(0.5 * var(--vs));
			margin: 0 auto;

			&.holdingPage__contentBox--solid {
				background: var(--backgroundColor);
			}

			&.holdingPage__contentBox--transparent {
				p, h1, label, a {
					color: white;
				}
				.sitewideSocialLinks.sitewideSocialLinks--outline a {
					border-color: white;
					path {
						fill : white;
					}
				}
			}
			&.align-center {
				.wpforms-field-container input {
					text-align: center;
				}
			}
			&.align-right {
				.wpforms-field-container input {
					text-align: right;
				}
			}

		}