.stages {

}

	.stagesWrap--center {
		text-align: center;
		div.stages__grid, div.performancesGrid {
			justify-content: center;
		}
	}

	.performancesGrid {

		@include plotFlex(1,var(--hs),var(--vs),'left');
		@include medium {
			@include plotFlex(2,var(--hs),var(--vs),'left'); 
		}
		@include large {
			@include plotFlex(3,var(--hs),var(--vs),'left');
		}

		&.col--4 {
			
			@include large {
				@include plotFlex(4,var(--hs),var(--vs),'left');
			}
		}
	}
	.stages__day--text {

		.stages__grid {	
			@include plotFlex(1,var(--hs),var(--vs),'left');
			@include medium {
				@include plotFlex(2,var(--hs),var(--vs),'left');
			}
		}

		.stages__panel {
			padding: var(--hs);
			background: var(--altBackgroundColor);
			h1, h2, h3, h4, h5, h6 {
				color: var(--altHeadingsColor);
			}

			a {
				color: var(--altBodyColor);
			}
		}


		.stages__artistList {
			padding:0;	
			list-style: none;
			margin: 0;
			li {
				margin-bottom: calc(var(--vs) / 3);
				span {
					color: var(--altBodyColor);
					cursor: pointer;
					&:hover {
						color: var(--altHighlightColor);
					}
				}
			}
		}
	}