.ticketOption__panel {
	h3 {
		margin: 0;
	}
}

.ticketOptions--grid {

	@include medium {
		@include plotFlex(3,var(--hs),var(--vs),'left');
	}

	.ticketOption__backgroundWrap {
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		overflow: hidden;
		z-index: 1;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	* {
		z-index: 2;
		position: relative;
	}

	.ticketOption__panel {
		position: relative;
		height: 15rem;
		background: #ccc;
		text-align: center;
		padding: 1rem;
		display: flex; 
		flex-direction: column;
		justify-content: center;
	}

	.ticketOption__panel--withImage {
		background: black;
		color: white;
	}

}

.ticketOptions--grid {

	@include medium {
		@include plotFlex(3,var(--hs),var(--vs),'left');
	}

	.ticketOption__backgroundWrap {
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		overflow: hidden;
		z-index: 1;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	* {
		z-index: 2;
		position: relative;
	}

	.ticketOption__panel {
		position: relative;
		height: 15rem;
		background: #ccc;
		text-align: center;
		padding: 1rem;
		display: flex; 
		flex-direction: column;
		justify-content: center;
	}

		.ticketOption--soldOut {
			pointer-events: none;
			opacity: 0.5;
		}

	.ticketOption__panel--withImage {
		background: black;
		color: white;
	}

}

.ticketOptions--lines {

	.ticketOption__panel {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
		* {
			flex: 1;
		}
	}

}

.ticketOption--soldOut {
	pointer-events: none;
	opacity: 0.5;
}