// Theme Setting

.homeBanner__asset.homeBanner__asset--1 path
.homeBanner__asset.homeBanner__asset--2 path,
.homeBanner__title,
.mainMenu a,
.siteMainHeader__logo path,
.menuToggle--burger path {
    transition: color .2s ease-in-out, fill .2s ease-in-out, background-color .2s ease-in-out;
}

body.home {
    .homeBanner__asset.homeBanner__asset--1 path {
        fill: var(--yellow);
        transition: fill 1s ease-out;
    }

    .homeBanner__asset.homeBanner__asset--2 path {
        fill: var(--mint);
        transition: fill 1s ease-out;

    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--africaoye.jpg); 
    }

    &[data-current-theme] .homeBanner__asset.homeBanner__asset--1 path,
    &[data-current-theme] .homeBanner__asset.homeBanner__asset--2 path {
        fill: rgba(255,255,255,0.1);
    }

    .mobile3D__side--right:after,
    .mobile3D__side--left:after,
    .mobile3D__side--right:before,
    .mobile3D__side--right:before {
        background-size: 100% 100%;
    }

    .mobile3D__side--right:after,
    .mobile3D__side--left:after {

        background-image: url(../img/mobile--africaoye--side.jpg);
    }
}

body.home[data-previous-theme="home"] {
    .homeBanner:before {
        background-color: white;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--africaoye.jpg);
    }

    .mobile3D__side--right:before,
    .mobile3D__side--left:before {
        background-image: url(../img/mobile--africaoye--side.jpg);
    }
}


body.home[data-current-theme="arts"] {
    .homeBanner:after {
        background-color: #E90030;
    }



    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }

    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--arts.jpg);
    }

    .mobile3D__side--right:after,
    .mobile3D__side--left:after {
        background-image: url(../img/arts--side.jpg);
    }

}

body.home[data-previous-theme="arts"] {
    .homeBanner:before {
        background-color: #E90030;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--arts.jpg);
    }

    .mobile3D__side--right:before,
    .mobile3D__side--left:before {
        background-image: url(../img/arts--side.jpg);
    }
}



body.home[data-current-theme="sounds"] {
    .homeBanner:after {
        background: linear-gradient(0deg, rgba(132,21,89,1) 0%, rgba(50,23,53,1) 100%);
    }


    .homeBanner__title,
    .mainMenu a,
    .homeBanner__subtitle {
        color: white;
    }


    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(-3, 5, 0, -25deg);
    }

    .mobile3D__screen:after {
            background-image: url(../img/mobile--sounds.jpg);
    }

    .mobile3D__side--right:after,
    .mobile3D__side--left:after {
        background-image: url(../img/sounds--side.jpg);
    }
}

body.home[data-previous-theme="sounds"] {
    .homeBanner:before {
        background: linear-gradient(0deg, rgba(132,21,89,1) 0%, rgba(50,23,53,1) 100%);
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--sounds.jpg);
    }

    .mobile3D__side--right:before,
    .mobile3D__side--left:before {
        background-image: url(../img/sounds--side.jpg);
    }
}

body.home[data-current-theme="africaoye"] {
    .homeBanner:after {
        background-color: #FFBD00;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(3, 5, 0, 45deg);
    }


    .mobile3D__screen:after {
        background-image: url(../img/mobile--africaoye.jpg);
    }

    .mobile3D__side--right:after,
    .mobile3D__side--left:after {
        background-image: url(../img/mobile--africaoye--side.jpg);
    }

}

body.home[data-previous-theme="africaoye"] {
    .homeBanner:before {
        background-color: #FFBD00;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--africaoye.jpg);
    }

    .mobile3D__side--right:before,
    .mobile3D__side--left:before {
        background-image: url(../img/mobile--africaoye--side.jpg);
    }
}



body.home[data-current-theme="casa"] {
    .homeBanner:after {
        background-color:  #F3A238;
    }

    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }

    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(3, 5, 0, 25deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--casa.jpg);
    }
    
    .mobile3D__side--right:after {
        background-image: url(../img/casa--rightSide.jpg);
    }

    .mobile3D__side--left:after {
        background-image: url(../img/casa--leftSide.jpg);
    }

}

body.home[data-previous-theme="casa"] {
    .homeBanner:before {
        background-color:  #F3A238;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--casa.jpg);
    } 

    .mobile3D__side--right::before {
        background-image: url(../img/deep--rightSide.jpg);
    }

    .mobile3D__side--left:before {
        background-image: url(../img/deep--leftSide.jpg);
    }
}

body.home[data-current-theme="future"] {
    .homeBanner:after {
        background-color:  #FC7F3A;
    }

    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }


    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(-3, 5, 0, -25deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--future.jpg);
    }
    
    .mobile3D__side--right:after,
    .mobile3D__side--left:after {
        background-image: url(../img/future--side.jpg);
    }

}

body.home[data-previous-theme="future"] {
    .homeBanner:before {
        background-color:  #FC7F3A;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--future.jpg);
    } 

    .mobile3D__side--right:before,
    .mobile3D__side--left:before {
        background-image: url(../img/future--side.jpg);
    }
}

body.home[data-current-theme="rhythm"] {
    .homeBanner:after {
        background-color:  #FFF035;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(3, 5, 0, 25deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--rhythm.jpg);
    }
    
    .mobile3D__side--right::after {
        background-image: url(../img/rhythm--rightSide.jpg);
    }

    .mobile3D__side--left:after {
        background-image: url(../img/rhythm--leftSide.jpg);
    }

}

body.home[data-previous-theme="rhythm"] {
    .homeBanner:before {
        background-color:  #FFF035;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--rhythm.jpg);
    } 

    .mobile3D__side--right::before {
        background-image: url(../img/rhythm--rightSide.jpg);
    }

    .mobile3D__side--left:before {
        background-image: url(../img/rhythm--leftSide.jpg);
    }
}

body.home[data-current-theme="highest"] {
    .homeBanner:after {
        background-color:  #FD9898;
    }


    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }


    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(3, 5, 0, 45deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--highest.jpg);
    }

    .mobile3D__side--right:after,
    .mobile3D__side--left:after {
        background-image: url(../img/highest--side.jpg);
    }

}

body.home[data-previous-theme="highest"] {
    .homeBanner:before {
        background-color:  #FD9898;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--highest.jpg);
    }

    .mobile3D__side--right:before,
    .mobile3D__side--left:before {
        background-image: url(../img/highest--side.jpg);
    }
}

body.home[data-current-theme="box"] {
    .homeBanner:after {
        background-color:  #1F0087;
    }


    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }


    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(3, 5, 0, 25deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--box.jpg);
    }
    
    .mobile3D__side--right:after,
    .mobile3D__side--left:after {
        background-image: url(../img/box--side.jpg);
    }

}

body.home[data-previous-theme="box"] {
    .homeBanner:before {
        background-color:  #1F0087;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--box.jpg);
    } 

    .mobile3D__side--right:before,
    .mobile3D__side--left:before {
        background-image: url(../img/box--side.jpg);
    }
}

body.home[data-current-theme="inter"] {
    .homeBanner:after {
        background-color:  #171E43;
    }


    .homeBanner__title,.homeBanner__subtitle {
        color: white;
    }

    
    .mainMenu a {
        color: white;
    }



    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(-3, 5, 0, -25deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--inter.jpg);
    }

    .mobile3D__side--right:after {
        background-image: url(../img/inter--rightSide.jpg);
    }

    .mobile3D__side--left:after {
        background-image: url(../img/inter--leftSide.jpg);
    }

}

body.home[data-previous-theme="inter"] {
    .homeBanner:before {
        background-color:  #171E43;
    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--inter.jpg);
    } 

    .mobile3D__side--right:before {
        background-image: url(../img/inter--rightSide.jpg);
    }
    .mobile3D__side--left:before {
        background-image: url(../img/inter--leftSide.jpg);
    }
}

body.home[data-current-theme="halftone"] {
    .homeBanner:after {
        background: linear-gradient(0deg, rgba(111,89,106,1) 0%, rgba(0,120,202,1) 100%);

    }


    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }

    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }



    &.smallScreen .mobile3D__phone {
        transform: rotate3d(1, 5, 0, 25deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--halftone.jpg);
    }
    
    .mobile3D__side--right:after {
        background-image: url(../img/halftone--rightSide.jpg);
    }

    .mobile3D__side--left:after {
        background-image: url(../img/halftone--leftSide.jpg);
    }
}

body.home[data-previous-theme="halftone"] {
    .homeBanner:before {
        background: linear-gradient(0deg, rgba(111,89,106,1) 0%, rgba(0,120,202,1) 100%);

    }



    .mobile3D__screen:before {
        background-image: url(../img/mobile--halftone.jpg);
    } 

    .mobile3D__side--right:before {
        background-image: url(../img/halftone--rightSide.jpg);
    }
    .mobile3D__side--left:before {
        background-image: url(../img/halftone--leftSide.jpg);
    }
}

body.home[data-current-theme="deep"] {
    .homeBanner:after {
        background: #003046;

    }


    .homeBanner__title,
    .homeBanner__subtitle,
    .mainMenu a {
        color: white;
    }



    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    &.smallScreen .mobile3D__phone {
        transform: rotate3d(-1, 3, 0, -35deg);
    }

    .mobile3D__screen:after {
        background-image: url(../img/mobile--deep.jpg);
    }
    
    .mobile3D__side--right:after {
        background-image: url(../img/deep--rightSide.jpg);
    }

    .mobile3D__side--left:after {
        background-image: url(../img/deep--leftSide.jpg);
    }
}

body.home[data-previous-theme="deep"] {
    .homeBanner:before {
        background: #003046;

    }

    .mobile3D__screen:before {
        background-image: url(../img/mobile--deep.jpg);
    } 

    .mobile3D__side--right:before {
        background-image: url(../img/deep--rightSide.jpg);
    }
    .mobile3D__side--left:before {
        background-image: url(../img/deep--leftSide.jpg);
    }
}