// Theme Setting
.homeBanner,
.homeBanner__asset.homeBanner__asset--1 path,
.homeBanner__asset.homeBanner__asset--2 path,
.homeBanner__title,
.mainMenu a,
.siteMainHeader__logo path,
.menuToggle--burger path {
    transition: color .2s ease-in-out, fill .2s ease-in-out, background-color .2s ease-in-out;
}


body.homeBannerTheme--arts {
    .homeBanner {
        background-color: #E90030;
    }

    .homeBanner__asset.homeBanner__asset--1 path {
        fill: #B1B1B1;
    }

    .homeBanner__asset.homeBanner__asset--2 path {
        fill: black;
    }

    .homeBanner__title,
    .mainMenu a {
        color: white;
    }

    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    .homeBanner__mobile3D .menu {
        transform: rotate3d(-9, 33, 0, -45deg);
    }

}

body.homeBannerTheme--sounds {
    .homeBanner {
        background: linear-gradient(0deg, rgba(132,21,89,1) 0%, rgba(50,23,53,1) 100%);
    }

    .homeBanner__asset.homeBanner__asset--1 path,
    .homeBanner__asset.homeBanner__asset--2 path {
        fill: #9AE4D6;
    }

    .homeBanner__title,
    .mainMenu a,
    .siteMainHeader__ctaLink {
        color: white;
    }

    .siteMainHeader__ctaLink {
        background-color: #841559;
    }


    .siteMainHeader__logo path,
    .menuToggle--burger path {
        fill: white;
    }

    .homeBanner__mobile3D .menu {
        transform: rotate3d(1, 0, 0, 7deg);
    }

    .homeBanner__mobile3D .menu {
        transform: rotate3d(3, 5, 0, 25deg);
    }
}

body.homeBannerTheme--urban {
    .homeBanner {
        background-color: #FFBD00;
    }

    .homeBanner__asset.homeBanner__asset--1 path,
    .homeBanner__asset.homeBanner__asset--2 path {
        fill: #FDF1DF;
    }

    .homeBanner__title {
        color: #FF5E3C;
    }

    .homeBanner__mobile3D .menu {
        transform: rotate3d(3, 5, 0, 45deg);
    }
}
