.carouselSection {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    position: relative; 
    overflow: hidden;
}

    .carouselSection__title {
        color: var(--black);
        max-width: 650px;
        margin: 0 auto 1rem;
    }

    .carouselSection__text {
        max-width: 650px;
        margin: 0 auto 3rem;
    }

    .carouselSection__slider {
        cursor: pointer;
        position: relative;

        &[data-plot-smooth-scroll-element] {
            opacity: 1;
        }
    }

        .carousel__slide {
            display: block;
            width: 60%;  
            @include medium {
                width: 90%;
            }
            max-width: 900px;
            background-color: transparent;
        }
            
            .imageCarousel__image {
                display: block;
                height: auto;
                width: 100%;
                margin: 0 auto;
                max-width: none; 
            }
    
    .carouselSection__buttonWrap {
        display: block;
        margin: 3rem 1rem 0;
    }

    .carouselSection__asset {
		position: absolute;
		z-index: -1;

		svg {
			object-fit: contain;
			display: block;
			height: 100%;
			width: 100%;
		}

		&.carouselSection__asset--1 {
            right: 55%;
            top: 7%;
            width: 50vw;
            height: 50vw;
            max-width: 670px;
            max-height: 670px;
            transform: rotate(45deg);

			path {
				fill: var(--sky);
				opacity: 1;
			}
		}

		&.carouselSection__asset--2 {
            left: 50%;
            top: 55%;
            width: 50vw;
            height: 50vw;
            max-width: 530px;
            max-height: 530px;
            

			path {
				fill: var(--orange);
				opacity: 1;
			}
        }
    }