.carouselSection {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    position: relative; 
    overflow-x: hidden;
    
    @include medium {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

    .carouselSection__title {
        color: var(--black);
        max-width: 650px;
        margin: 0 auto 1rem;
    }

    .carouselSection__text {
        max-width: 650px;
        margin: 0 auto 3rem;
    }

    .carouselSection__slider {
        height: 60vw;
        max-height: 700px;
        cursor: pointer;
    }

        .carousel__slide {
            width: 80%; 
            max-width: 900px;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .carousel__imageWrap {
                display: block;
                height: 100%;
                z-index: 1;
                width: 94%;
            }
            
            .carousel__image {
                object-fit: contain;
            }
    
    .carouselSection__buttonWrap {
        display: block;
        margin: 0 1rem;
    }

    .carouselSection__asset {
		position: absolute;
		z-index: -1;

		svg {
			object-fit: contain;
			display: block;
			height: 100%;
			width: 100%;
		}

		&.carouselSection__asset--1 {
            right: 55%;
            top: 7%;
            width: 50vw;
            height: 50vw;
            max-width: 670px;
            max-height: 670px;
            transform: rotate(45deg);

			path {
				fill: var(--sky);
				opacity: 1;
			}
		}

		&.carouselSection__asset--2 {
            left: 50%;
            top: 55%;
            width: 50vw;
            height: 50vw;
            max-width: 530px;
            max-height: 530px;
            

			path {
				fill: var(--orange);
				opacity: 1;
			}
        }
    }