.homeBanner {
    position: relative;
    @include vh(100, 'min-height');
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include large {
        min-height: 0;
        height: 100vh;
        max-height: 920px;
    }

    &:before,
    &:after{
        content: "";
        display: block;
        width: 110%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -2;

       
    }


    &:before {
        top: 0;
    }
    &:after {
        transform: translate3d(0, 0,0);
         .slideMobileScreen & {
            animation: slideScreen 1.4s cubic-bezier(.13,.75,.41,1.03);
        }
    }

    .maxWidth {
        height: 100%;
    }
}

    .homeBanner__subtitle {
        color: var(--white);
        text-shadow: 0 0 8px rgba(0,0,0,0.1);

        @include large {
            text-align: left;
        }
    }

    .homeBanner__grid {
        text-align: center;
        margin: 8rem 0 3rem;
        height: calc(100% - 10rem);
        @include large {
            text-align: left;
            margin: 5rem 0 5rem;
            display: grid;
            
            height: calc(100% - 10rem); 
            align-items: center;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "titleWrap mobile"
            "titleWrap mobile"; 
        }
    }

    .homeBanner__subtitle {
        color: var(--plotBlack);
        transition: color .7s ease-in;
    }

        .homeBanner__item {


            &.homeBanner__item--titleWrap {
                grid-area: titleWrap; 
                max-width: 42rem;
                margin: 0 auto;
                padding: 0 1rem;

                
            }

            &.homeBanner__item--mobile3D {
                grid-area: mobile;
            }

            &.homeBanner__item--button {
                grid-area: button;
                margin-bottom: 2rem;
                // Use margin top because button isn't always output
                margin-top: 3rem;

                @include medium {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                @include large {
                    display: none;
                    margin-top: 0;
                    
                }
            }

            &.homeBanner__item--buttonDesktop {
                display: none;
                @include large {
                    margin: 2rem 0 0 0;
                    display: block;
                    align-self: start;
                    justify-content: flex-start;
                }
            }
        }

            .homeBanner__title {
                text-shadow: 0 0 8px rgba(0,0,0,0.1);
                text-align: center;
                transition: color .7s ease-in;

                @include large {
                    margin-top: 1rem;
                    text-align: left; 
                }
            }
        
    .homeBanner__asset {
        position: absolute;
        display: block;
        z-index: -1;
        transform: translate3d( 0%, 0%,0);
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite; 

        &.homeBanner__asset--1 {
            height: 100%;
            width: 100%;
            right: 24%;
            top: -12rem;
            animation-name: bob--1;

            @include medium {
                left: 5%;
                right: initial;
                top: -15%;
                width: 75%;
                max-width: 600px;
                max-height: 800px;
            }
            
            & path {
                fill: var(--yellow);
            }
        }

        &.homeBanner__asset--2 {
            right: -200px;
            top: 25%;
            animation-name: bob--2;
            width: 50%;

            @include medium {
                right: 0;
                top: 25%;
            }

            & path {
                fill: var(--mint);
            }
        }

        & svg {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

    }

    @keyframes slideScreen {
        0% {
            transform: translate3d(100%,0,0) skew(2deg,0);
        }
    
        100% {
            transform: translate3d(0,0,0);
        }
    }

    @keyframes slide {
        0% {
            transform: translate3d(100%,0,0) ;
        }
        100% {
            transform: translate3d(0,0,0);
        }
    }