.homeBanner {
    position: relative;
    @include vh(100, 'min-height');
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 5rem;

    @include large {
        @include vh(100, 'height');
        padding-top: 0;
    }

    &:before,
    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -2;

        .slideMobileScreen & {
            animation: slide .3s ease-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;  
        }
    }


    &:before {
        left: -100%;
    }
    &:after {
        left: 0%;
    }

    .maxWidth {
        height: 100%;
    }
}

    .homeBanner__subtitle {
        color: var(--white);
        text-shadow: 2px 0px 8px rgba(206,190,190,0), 2px 9px 8px rgba(0,0,0,0.42);

        @include large {
            text-align: left;
        }
    }

    .homeBanner__grid {
        @include large {
            display: grid;
            height: 100%;
            align-items: center;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "titleWrap mobile"
            "button    mobile"; 
        }
    }

        .homeBanner__item {


            &.homeBanner__item--titleWrap {
                grid-area: titleWrap; 
                text-align: center;

                // Centers Title and Button
                @include large {
                    align-self: end;
                }
                
            }

            &.homeBanner__item--mobile3D {
                grid-area: mobile;
            }

            &.homeBanner__item--button {
                grid-area: button;
                margin-bottom: 2rem;
                // Use margin top because button isn't always output
                margin-top: 3rem;

                @include medium {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                @include large {
                    margin-top: 0;
                    align-self: start;
                    justify-content: flex-start;
                }
            }
        }

            .homeBanner__title {
                text-transform: uppercase; 
                text-shadow: 2px 9px 8px rgba(206,190,190,0), 2px 9px 8px rgba(137,127,127,0.42);
                text-align: center;

                @include large {
                    text-align: left; 
                }
            }
        
    .homeBanner__asset {
        position: absolute;
        display: block;
        z-index: -1;
        transform: translate3d( 0%, 0%,0);
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite; 

        &.homeBanner__asset--1 {
            height: 100%;
            width: 100%;
            right: 24%;
            top: -12rem;
            animation-name: bob--1;

            @include medium {
                left: 5%;
                right: initial;
                top: -15%;
                width: 75%;
                max-width: 600px;
                max-height: 800px;
            }
            
            & path {
                fill: var(--yellow);
            }
        }

        &.homeBanner__asset--2 {
            right: -200px;
            top: 25%;
            animation-name: bob--2;

            @include medium {
                right: 0;
                top: 25%;
            }

            & path {
                fill: var(--mint);
            }
        }

        & svg {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

    }

    @keyframes slide {
        0% {
            transform: translate3d(100%,0,0);
        }
    
        100% {
            transform: translate3d(0,0,0);
        }
    }