.planToggle {
    margin-bottom: 3rem;
    text-align: center;

    .planToggle__priceWrap {
        position: relative;
    }

    .planToggle__price--annual {
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        top: 50%;
        left: 50%;
    }

    &[data-plan="monthly"] {

        .planToggle__option--monthly {
            border-color: var(--strong-pink);

            h3,
            span {
                color: var(--strong-pink);
            } 
        }

        .planToggle__option--annual {
            border-color: var(--black);
            cursor: pointer;
            
            h3,
            span {
                color: var(--black);
            }
        }

        .planToggle__price--monthly {
            opacity: 1;
        }

        .planToggle__price--annual {
            opacity: 0;
        }

    }

    &[data-plan="annual"] {
        .planToggle__option--annual {
            border-color: var(--strong-pink);

            h3,
            span {
                color: var(--strong-pink);
            } 
        }

        .planToggle__option--monthly {
            border-color: var(--black);
            cursor: pointer;
            
            h3,
            span {
                color: var(--black);
            }
        }

        .planToggle__price--monthly {
            opacity: 0;
        }

        .planToggle__price--annual {
            opacity: 1;
        }
    }
}

    .planToggle__innerWrap {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 2rem;
    }

        .planToggle__option {
            flex: 0 0 50%;
            text-align: center;
            border-bottom: 3px solid black;
            transition: all .2s ease-in;

            h3,
            span {
                transition: all .2s ease-in;
            }
        }

        .planToggle__price {
            font-family: var(--headingFont);
            font-weight: 300;
            font-size: 1.8rem;
            color: var(--strong-pink);
            margin-bottom: 1rem;
            transition: opacity .3s ease-in;

            p {
                color: var(--strong-pink);
                line-height: 1;
                margin-bottom: 0;
            }

            @include medium {
                font-size: 2.4rem;
            }

            .small {
                display: block;
            }

            .planToggle__num {
                font-size: 5rem;
                font-weight: bold;
            }

            .planToggle__noWrap {
                white-space: nowrap;
                line-height: initial;
            }
        }

    .planToggle__cross--pink {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 14px;

        svg {
            display: block;
            height: 100%;
            object-fit: contain;
            margin: 0 1rem;

            path {
                fill: var(--strong-pink);
                opacity: 1;
            }
        }
    }

    .small {
        font-family: var(--bodyFont); 
        font-weight: 300;
        text-decoration: underline;
        font-size: 1rem;
    }
    