.rollerText {
    position: relative;
    display: inline-block;
    padding-right: .9rem;
    transition: all .5s ease-out;
    overflow: hidden;
    vertical-align: bottom;
    margin-bottom: -1rem;
    padding-bottom: 1rem;

    &.turn {
        
        [data-text-next] {
            animation: turn .5s ease-out .2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;  
        
        }

        [data-text-current] {
            animation: previous .5s ease-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards; 
        }
    }
}

.rollerText__smallScreen--1 {
    @include medium {
        display: none;
    }
}
 .rollerText__smallScreen--2 {
    @include small {
        display: none;
    }
}

[data-text-current] {
    display: inline-block;
    transition: transform .5s cubic-bezier(.67,.72,0,1.02) .2s;
    white-space: nowrap;
    transform: translate3d(0,0,0);
}

[data-text-next] {
    left: 0;
    top: -100%;
    position: absolute;
    white-space: nowrap;
    transform: translate3d(0,0,0);
    
}

@keyframes turn {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(0,calc(100% + 1rem),0);
    }
}

@keyframes previous {
    0% {
        transform: translate3d(0,0,0);
    }

    100% {
        transform: translate3d(0,calc(100% + 1rem),0);
    }
}