input{    
    border: none;
    box-shadow: none;       
}

.wpforms-container{
    
    .wpforms-field-hp{
        display: none;
    }

    input, button{
        height: 2.5rem;
        padding: 0 1rem;
        max-width: 100%; 
        width: 100%;
        border-radius: 0;

        @media #{$large-up}{
            height: 3.125rem;    
        }
    }

    button{
        font-family: $headerFontFamily;
        font-size: 0.9375rem;
        text-transform: uppercase;        
    }

    @include placeholder{
        
    }
}

.wpforms-label-hide{
    display: none;
}
