.revealWordByWordParts {
	span {
		display: inline-block;
		margin-right: 0.1em;
		overflow: hidden;
		position: relative;
		span {
			display: block;
			transform: translateY(100%);
			transition: transform 0.2s ease-out;

		}

	}
}

.revealWordByWord {
	&:hover, &.always {
		.revealWordByWordParts {
			span  {

				span {
					
					transform: translate3d(0,0,0); 
			
				}

				$b:1;
				@while $b < 50 {
					&:nth-child(#{$b}) {
						span {
							transition-delay: #{$b*0.1}s; 
						}
					}
					$b : $b+1;
				}
			}
		}
	}

	&.always {
		.revealWordByWordParts {
			span  {

				span {
					opacity: 0;
					animation: riseUpALittle 0.4s ease-out forwards;

				}

				$b:1;
				@while $b < 50 {
					&:nth-child(#{$b}) {
						span {
							animation-delay: #{1+$b*0.1}s; 
						}
					}
					$b : $b+1;
				}

			}
		}
	}
}
