/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow{
    display: block;
    position: absolute;
    top: calc(50% - 1.3125rem);
    z-index: 1;
    background-color: black;
    text-indent: -99999px;
    width: 2rem;
    height: 2rem;

    @media #{$large-up}{
        width: 4rem;
        height: 4rem;
    }
    
    &:hover{
        background-color: rgba(black,0.5);
    }

    &:after{
        content: "";
        position: absolute;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        width: 0.75rem;
        height: 0.75rem;
        top: 0.625rem;

        @media #{$large-up}{
            width: 1rem;
            height: 1rem;
            top: 1.5rem;
            border-width: 0.25rem;
        }
    }

    &:focus, &:active{
        outline: none;
    }
}

.slick-next{
    right: -1rem;
    
    @media #{$medium-up}{
        right: 2rem;
    }

    @media screen and (min-width: 1400px){
        right: 4rem;
    }
    
    &:after{
        right: 0.75rem;
        transform: rotate(-45deg);

        @media #{$large-up}{
            right: 1.5rem;    
        }
    }
}

.slick-prev{
    left: -1rem;
    
    @media #{$medium-up}{
        left: 2rem;
    }

    @media screen and (min-width: 1400px){
        left: 4rem;
    }

    &:after{
        left: 0.75rem;
        transform: rotate(135deg);

        @media #{$large-up}{ 
            left: 1.5rem;    
        }
    }
}
