.plotLayoutForm {
	&:after {
		content : '';
		display: block;
		clear: both;
		width: 100%;

	}
}

	.plotLayoutForm__box {
		max-width: 40rem; 
		p:last-of-type {
			margin-bottom: 0;
		}
	}

	.plotLayoutForm__box--center {
		margin: 0 auto;
	}

	.plotLayoutForm__box--right {
		float:right;
	}

	.plotLayoutForm__box--border {
		border: 4px solid var(--altBackgroundColor);
		color: var(--altBodyColor);
		padding: var(--hs);
	}

	.plotLayoutForm:not(.altColourScheme) {

		.plotLayoutForm__box--alternative {

			background: var(--altBackgroundColor);
			color: var(--altBodyColor);
			padding: var(--hs);
		}
	}

	.plotLayoutForm.altColourScheme {

		.plotLayoutForm__box--standard {

			background: var(--backgroundColor);
			color: var(--bodyColor);
			padding: var(--hs); 

		}

	}

	.altFormColourScheme {
		--inputBackgroundColor 		: var(--inputAltBackgroundColor);
		--inputBorderColor 			: var(--inputAltBorderColor);
		--inputTextColor 		 	: var(--inputAltTextColor);
		--inputPlaceholderColor 	: var(--inputAltPlaceholderColor); 
			
	}
			// .plotButton, .wpforms-submit {
			// 	background-color: var(--buttonBackgroundColor);
			//     border-color: var(--buttonBorderColor);
			//     color: var(--buttonTextColor);
			// }


