.textLineup {

}
	.textLineup--center {
		text-align: center;
	}

	.textLineup--right {
		text-align: right;
	}

	.textLineup__endText {
		display: inline-block;
	}

	.textLineup__tier {
		margin-bottom: calc(var(--vs) / 3);
		color: var(--bodyColor);
		font-family: var(--primaryFontFamily);
		line-height: calc(var(--headingsLineHeight) / 100 * 1.2);
		>span:last-of-type span:last-of-type {
			opacity: 0;
		}
	}

		.textLineup__artist--hiddenSeparator {
			.textLineup__separator {
				display: none;
			}
		}

		.textLineup__separator {
			margin-left: 0;
			display: inline-block;
			color: var(--bodyColor);
			.textLineup__tier--inline & {
				margin-left: -0.2em;
			}

		}
			.textLineup__separator--hideMe {
				opacity: 0;
			}


		.textLineup__separator--bullet {
			transform: scale3d(0.4,0.4,1);
			margin: 0 0 0 0.2em;
			.textLineup__tier--inline & {
				margin:0;
			}
		}

		.textLineup__separator--star {
			transform: scale3d(0.3,0.3,1);
			margin: 0 -0.2em 0 0;
			.textLineup__tier--inline & {
				margin: 0 -0.4em;
			}
		}

		.textLineup__separator--pipe {
			transform: scale3d(0.7,0.7,1);
			.textLineup__tier--inline & {
				margin-left: 0;
			}
		}

		.textLineup__artist {
			position: relative;
			display: inline-flex;
			.textLineup__tier--inline & {
				display: inline;
			}
		}


	.textLineup__tier--1 {
		font-size: calc(8vw * var(--baseFontSize) / 16);

		@include medium {
			font-size: calc(5vw * var(--baseFontSize) / 16);
		}
		
		@include xlarge {
			font-size: 4rem; 
		}
	}

	.textLineup__tier--2 {
		font-size: calc(4vw * var(--baseFontSize) / 16);
		
		@include large {
			font-size: 3rem;
		}
	}

	.textLineup__tier--3 {
		font-size: calc(4vw * var(--baseFontSize) / 16);
		
		@include large {
			font-size: 2rem;
		}
	}

	.textLineup__tier--4 {
		font-size: calc(4vw * var(--baseFontSize) / 16);
		
		@include large {
			font-size: 1.7rem;
		}
	}