// HELPERS
.verticallyCentered{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.withCenteredBackgroundImage{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.hidden {
	display: none;
}


.textCenter {
	text-align: center;
}


.scrollLocked  {
	position: fixed; 
	overflow-y: scroll; 
	width: 100%;
	height: auto;
}


.siteOverlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.85);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity $globalTransitionSpeed ease-in-out;
	
	.modalInView & {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		z-index: 100;
	}

	.overlayInView & {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		z-index: 100;
	}
}