//FONTS
$bodyFontFamily: freight-text-pro, serif;
$headerFontFamily: aktiv-grotesk-extended, sans-serif;
$tertiaryFont: source-code-pro, monospace;

//COLOURS
$plotBlue 		: #2E24E8;
$plotDarkBlue	: #262A5D;
$plotGrey  		: #2E2D2C;
$plotPink 		: #F2C4CF;

$primaryColor : $plotBlue; 
$bodyFontColor : $plotBlue;

//GENERAL
$globalTransitionSpeed: 0.25s; 
  