.plotButton, .wpforms-submit {
	background: var(--buttonBackgroundColor);
	border: calc(var(--buttonBorderThickness) * 1px) solid var(--buttonBorderColor);
	color: var(--buttonTextColor); 
	display: inline-block;
	text-align: center;
	position: relative;
	overflow: hidden;
	padding:calc(.6rem * var(--buttonVerticalSpacing) / 100) calc(1.6rem * var(--buttonHorizontalSpacing) / 100);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 30px rgba(0, 0, 0, calc(var(--buttonBoxShadow) / 400));
    border-radius: calc(0.015rem * var(--buttonRoundedEdges));
    font-size: calc(1rem * var(--buttonTextScale) / 100);
    cursor: pointer;
   
    [data-plot-customizer-button-type="bordered"] & {
    	background: none;
    }

    .altColourScheme &, .altFormColourScheme & {
    	background-color: var(--buttonAltBackgroundColor);
    	border-color: var(--buttonAltBorderColor);
    	color: var(--buttonAltTextColor);
    	[data-plot-customizer-button-type="bordered"] & {
	    	background: none;
	    }
	    &.selected {
			background: var(--altHighlightColor);
		}
    }

	&.selected {
		background: var(--highlightColor);
	}

	&:focus {
		outline: 0;
	}


}

.buttonHoverEffect, .wpforms-submit  {
	transform: perspective(1px) translateZ(0);
	&:hover {
    	transform: scale3d(1.02,1.02,1);
    	filter: brightness(1.1);
    }

}

.loading {
	opacity: 0.4;
}


	.centered  {
		text-align: center;
	}

