#mainSiteFooter {
	padding: var(--vs) 0;
	background: var(--elementBackgroundColor);
	color: var(--elementTextColor);
	box-shadow: 0 0 15px rgba(0,0,0,calc(var(--boxShadow) / 200));
	a {

		color: var(--elementTextColor);
		&:hover {
			color: var(--elementTextHoverColor);
		}
	}
}

	.footerGrid {

	    display: flex;
	    flex-direction: column;

	    .mainSiteFooter--three-col & {

			@include medium {
				@include plotFlex(3, calc(2 * var(--hs)),0);
		    	flex-direction: row;
			}

		}

		.mainSiteFooter--one-col & {
			text-align: center;
		}
	}

	.footer__menuWrap {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				margin-bottom: calc(var(--vs) / 2);
			}
		}
	}

	.footer__logo {
		width: calc(8rem * var(--logoSize) / 100);
	    height: auto;
	    display: flex;
	    position: relative;
	    flex-shrink: 0;
	    margin-bottom: calc(var(--vs) / 2);
	    .mainSiteFooter--one-col & {
	    	margin: 0 auto calc(var(--vs) / 2);
	    }
	    img {
	    	max-width: 100%;
		    max-height: 100%;
		    align-self: center;
	    }
	}

	.footer__message {
		padding: calc(var(--vs) / 2) 0;
	}

	.footer__contactWrap {
		margin-top: calc(var(--vs) / 3);
		.mainSiteFooter--three-col & {
			@include medium {
				text-align: right;
				margin-top: 0;
			}
		}

		.newsletterSignup__heading {
			margin-bottom: calc(.5 * var(--vs));
		}

		.wpforms-container  {
			margin-bottom: calc(var(--vs));
			button {
				font-size: 0.8rem;
			}
			.mainSiteFooter--one-col & {
				input {
					margin-left: auto;
					margin-right: auto;

				}
			}
		}


		.wpforms-confirmation-container {
			background: var(--backgroundColor);
			padding: var(--hs);
			
			p:last-of-type {
				margin-bottom: 0;
			}
		}

	}

	

.partnersGrid {
	@include plotFlex(3);

	@include medium {
		@include plotFlex(4);
	}
	@include large {
		@include plotFlex(5);
	}
}

	.partnersGrid__partner {
		img {
			width: 100%;
		}
	}

.mainBuyTickets--footer {
	display: block;
	color: white;
	width: 100%;
	position: fixed;
	bottom:0;
	@include medium {
		display: none;
	}

	background: var(--mobileTicketButtonBackgroundColor);
	color: var(--mobileTicketButtonTextColor);
	box-shadow: 0 0 30px rgba(0, 0, 0, calc(var(--mobileTicketButtonBoxShadow) / 400));
	border-top: calc(1px * var(--mobileTicketButtonBorderThickness)) solid var(--mobileTicketButtonBorderColor);
	padding:calc(.6rem * var(--mobileTicketButtonSpacing) / 100) calc(1.6rem * var(--mobileTicketButtonSpacing) / 100);
	font-size: calc(1rem * var(--mobileTicketButtonTextScale) / 100);
	border-radius: 0;

}

.postFooter {
	color: var(--elementTextColor);
	background: var(--elementBackgroundColor);
	a {
		color: var(--elementTextColor);
		&:hover {
			color: var(--elementTextHoverColor);
		}
	}
	padding: var(--vs) 0;
	@include medium {
		padding: calc(var(--vs) / 3) 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-bottom: var(--vs);
		@include medium {
			margin-bottom: 0;
		}
		li {
			padding-bottom: calc(var(--vs) / 3);
			@include medium {
				display: inline-block;
				padding:0 calc(var(--vs) / 3) 0 0;
			}
		}
	}

	padding-bottom: 4rem;
	@include medium {
		padding-bottom: calc(var(--vs) / 3);
	}
}
	.postFooterGrid {

		@include medium {
			@include plotFlex(2,var(--hs),0);
		}
	}

	.plotCredits {
		@include medium {
			text-align: right;
		}
	}
