.plotCustomMouseCursor {
	width: 1px;
	height: 1px;
	position: fixed;
	top:0;
	left:0;
	display: none;
	z-index: 6000;
	pointer-events: none;
	opacity: 0;

	&.instantiated {
		opacity: 1;
		transition: transform 0.1s ease-out;
	}
	@include medium {
		display: block; 
	}

	&.anchorHover {
		
		.plotCustomMouseCursor__inner {
			width: 100px;
			border: 2px solid var(--primaryColor);
			background: rgba(0,0,0,0);
			height: 100px;
		}

		.plotCustomMouseCursor__animation {
			animation: throb 0.8s linear infinite;
		}

		.plotCustomMouseCursor__linkDot {
			opacity: 1; 
		}
	}

	&.altHover {
		
		.plotCustomMouseCursor__inner {
			width: 100px;
			border: 2px solid green;
			border-radius: 0;
			background: rgba(0,0,0,0);
			height: 100px;
		}

		.plotCustomMouseCursor__animation {
			animation: throb 0.8s linear infinite;
		}

		.plotCustomMouseCursor__linkDot {
			opacity: 1; 
		}
	}

}

.plotCustomMouseCursor__inner {
	transform: translate3d(-50%,-50%,0);
	position: absolute;
	top: 0;
	left: 0;
	background: var(--primaryColor);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	transition: all 0.1s ease-out;
}

.plotCustomMouseCursor__linkDot {
	transform: translate3d(-50%,-50%,0);
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	width: 2px;
	height: 2px;
	opacity: 0;
}



@keyframes throb {
	from {
		transform: scale3d(0.9,0.9,1);
	}

	to {
		transform: scale3d(1,1,1);
	}
}


body *, a, button {
	@include medium {
		cursor: none;
	}
}