.plotSubnavigation {
	margin: calc(-1 * var(--vs)) 0 var(--vs); 
	background: var(--altBackgroundColor);

	.plotPossibleDropdown {
		margin: 0 calc(var(--hs) * -0.5);

	}
	.plotPossibleDropdown--buttons {
		margin: 0 calc(var(--hs) * 0.5);
	}
	
	.plotPossibleDropdown__dropdown {
		width: calc(100% + var(--hs) * 2);

		// left: calc(-1 * var(--hs));
	}

	.plotPossibleDropdown.plotPossibleDropdown--open {
		.plotPossibleDropdown__dropdown {
			border: 0;
		}
	}

	.plotPossibleDropdown__selector {
		padding: calc(.6rem * var(--buttonVerticalSpacing) / 100) calc(var(--hs) * 0.8);
		border: 0;
		
	}

	.plotPossibleDropdownVisibleItems {
		a {
			padding: 1rem var(--hs) 1rem 0;
			display: block;
			&:hover {
				color: var(--altHighlightColor);
			}
		}
	}
	@include medium {
		
		margin: calc(-1 * var(--vs)) 0 var(--vs);
	}
	z-index: 3;
	position: relative;
	


	ul {
		margin:0;
		padding:0;
		li {
			display: inline-block;
			a {
				color: var(--altBodyColor);
			}
		}
	}
}