html, #tinymce {
	font-family: var(--primaryFontFamily);
	font-weight: var(--primaryFontRegular);
	font-style: var(--primaryFontRegularStyle);
	color: var(--bodyColor);

	strong {
		font-weight: var(--primaryFontBold);
	}

	em {
		font-style: italic;
		font-weight: var(--primaryFontItalic);
	}

	b {
		font-weight: var(--primaryFontBold);
	}

	font-size: var(--baseFontSize);
	@include medium {
		font-size: calc(var(--baseFontSize) / 16 * 17px);
	}
	@include large {
		font-size: calc(var(--baseFontSize) / 16 * 18px);
	}
	@include xlarge {
		font-size: calc(var(--baseFontSize) / 16 * 19px);
	}
	@include xxlarge {
		font-size: calc(var(--baseFontSize) / 16 * 20px);
	}

	.smallerFont {
		font-size: 0.8rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 calc(1rem * var(--headingsSpacing) / 100 * var(--verticalSpacing) / 100);
	font-family: var(--headingsFontFamily);
	font-weight: var(--headingsFontRegular);
	font-style: var(--headingsFontRegularStyle);
	line-height: calc(var(--headingsLineHeight) / 100 * 1.2);
}

.miniHeading {
	font-size: calc(0.8rem * var(--headingsScale));
	margin:0;
}

h1 {
	font-size: calc(1.6rem * var(--headingsScale));
	@include medium {
		font-size: calc(2rem * var(--headingsScale));
	}
}

h2 {
	font-size: calc(1.4rem * var(--headingsScale));
	@include medium {
		font-size: calc(1.6rem * var(--headingsScale));
	}
}

h3 {
	font-size: calc(1.2rem * var(--headingsScale));
	@include medium {
		font-size: calc(1.4rem * var(--headingsScale));
	}
}
h4 {
	font-size: calc(1.1rem * var(--headingsScale));
	@include medium {
		font-size: calc(1.2rem * var(--headingsScale));
	}
}

h5 {
	font-size: calc(1.1rem * var(--headingsScale));
	@include medium {
		font-size: calc(1rem * var(--headingsScale));
	}
}

p {
	line-height: calc(var(--lineHeight) / 100 * 1.6);
	margin:0 0 1.3rem;
}

a {
	text-decoration: none;
}

.meta {
	font-size: 0.8rem;
	color: var(--highlightColor);
	margin-bottom: 0.4rem;
}
